# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
main

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
profile.coverprofile
overalls.coverprofile

*.exe
*.test
*.prof
gin-bin

_book
/vendor
node_modules/

# HF config files
/dist
debug

#OSX
.DS_Store