language: go

go:
  - 1.x
  - 1.7

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y
  
install:
  - mkdir -p $GOPATH/bin
  - make deps

script:
- make test
